*{
    margin: 0;
    padding: 0;
}
hr{
    color:  #010913;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #54252f;
}

nav{
    background-color: #54252F;
    width: 100%;
    height: 60px;
    /* position: fixed; */
    z-index: 2;
}
nav.left{
    display: flex;
    margin-left: 11px;
    justify-content: flex-start;
    align-items: center;
    
}
a.itemlist{
    color: white;
    text-decoration: none;
}
span.navlogo{
    display: flex;
}
img.amazonlogo{
    width: 151px;
    height: 56px;
    padding: 11px 20px 7px 7px;
    cursor: pointer;
    /* border: 1px solid white; */
    border-radius: 2px;
    text-decoration: none;
}

.navsearch{
    display: flex;
    margin-left: 20px;
    
}

select.categories{
    border-right: 1px solid #232f3e32;
    border-left: none;
    border-top: none;
    border-bottom: none;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    padding: 0px 7px;
    /* border: none; */
    border-radius: 10px 0px 0px 10px ;
    /* padding: 12px 2px 12px 2px ; */
    color: #0F1111;
    height: 40px;
    width: auto;
    line-height: 35px;
    /* font-size: 100%; */
    font-family: inherit;
}

.text{
    background-color: #fff;
    height: 40px;
    width: 325px;
    border: none;
    border-radius: 0px 0px 0px 0px ;
}

button.buttonsearchs{
    background-color: #A03232;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

div.detailslists{
    display: flex;
    padding-left: 1vw;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

}
.sign{
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #ee4967;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    margin-left: 2vw;
    
}
.sign:hover{
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #FCD6B1;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: 600;

}

.login{
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #ee4967;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    margin-left: 2vw;
    

}
button.login:hover{
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #FCD6B1;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: 600;

}
img.button{
   width: 18px;
}

select.search{
    width: 98px;
    height: 40px;
    margin-left: 50px;
    border-radius: 10px 0px 0px 10px ;
    text-align: center;
    background-color: #A03232;
    border: none;
    color: #fff;
}


span.All{
    color: #fff;
    font-family: inherit;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    margin: 3px 0px 0px 4px;
}

div.all{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 350px;
}

ul li{
    display: inline;
    list-style: none;
    padding: 20px;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
}

.nav_middle_searchbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #54252fd8;
    height: 39px; 
    width: 100%;
    /* position: static;
    z-index: 1; */
}

span.itemsall{
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 3px;
    justify-content: center;
    align-items: center;

}

div.maincontainer{
    width: 100vw;
    height: 90vh;
    background-color: azure;

}
h2.head{
    margin-left: 10vw;
    padding-top: 4vh;
    font-weight: 600;
}
div.childcontainer{
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
    background-color: rgba(250, 235, 215, 0);
    padding-top: -2vh;
    padding-left: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto;

}
h6.card-title{
    margin-top: -11px;
}
div.card{
    margin-top: 5vh;
}
div.middlebox{
    width: 70vw;
    height: 80vh;
    margin-left: 15vw;
    background-color: #a032323f;
    padding-left: 1vw;
    padding-top: 2vh;
    padding-right: 1vw;
    padding-bottom: 1vw;
}
.us{
    width: 98px;
    height: 40px;
    margin-left: 50px;
    border-radius: 10px 0px 0px 10px ;
    text-align: center;
    background-color: #a0323298;
    border: none;
    color: #fff;
}
.select{
    background-color: #a0323298;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 5px;
}
.heading h2{
    text-align: left;
    font-weight: 600;

}
a.signin{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

div.middlebox2{
    width: 30vw;
    height: 70vh;
    margin-left: 35vw;
    margin-top: 5vh;
    background-color: #a032323f;
    padding-left: 1vw;
    padding-top: 2vh;
    padding-right: 1vw;
    padding-bottom: 1vw;
}